---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: tasks.crd.chenshaowen.com
spec:
  group: crd.chenshaowen.com
  names:
    kind: Task
    listKind: TaskList
    plural: tasks
    singular: task
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.host
      name: Host
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: TaskSpec defines the desired state of Task
            properties:
              desc:
                description: 'INSERT ADDITIONAL SPEC FIELDS - desired state of cluster
                  Important: Run "make" to regenerate code after modifying this file'
                type: string
              host:
                type: string
              mounts:
                items:
                  description: TaskMount defines a mount configuration for a Task
                  properties:
                    configMap:
                      description: ConfigMapMount defines a configMap mount configuration
                      properties:
                        mountPath:
                          type: string
                        name:
                          type: string
                      required:
                      - mountPath
                      - name
                      type: object
                    hostPath:
                      type: string
                    mountPath:
                      type: string
                    secret:
                      description: SecretMount defines a secret mount configuration
                      properties:
                        mountPath:
                          type: string
                        name:
                          type: string
                      required:
                      - mountPath
                      - name
                      type: object
                  type: object
                type: array
              runtimeImage:
                type: string
              steps:
                items:
                  properties:
                    allowfailure:
                      type: string
                    content:
                      type: string
                    direction:
                      type: string
                    localfile:
                      type: string
                    name:
                      pattern: ^[a-z](-?[a-z0-9])*$
                      type: string
                    remotefile:
                      type: string
                    runtimeImage:
                      type: string
                    timeoutSeconds:
                      type: integer
                    when:
                      type: string
                  type: object
                type: array
              ttlSecondsAfterFinished:
                type: integer
              variables:
                additionalProperties:
                  properties:
                    default:
                      type: string
                    desc:
                      type: string
                    display:
                      type: string
                    enums:
                      items:
                        type: string
                      type: array
                    examples:
                      items:
                        type: string
                      type: array
                    regex:
                      type: string
                    required:
                      type: boolean
                    value:
                      type: string
                  type: object
                type: object
            type: object
          status:
            description: TaskStatus defines the observed state of Task
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
