{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "ops.fullname" . }}-leader-election-rolebinding
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ops.labels" . | nindent 4 }}
    app.kubernetes.io/component: rbac
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ template "ops.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ template "ops.serviceAccountName" . }}-leader-election-role
    namespace: {{ .Release.Namespace }}
{{- end -}}