{{- if .Values.prometheus.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "ops.fullname" . }}-controller-metrics
  labels:
    {{- include "ops.labels" . | nindent 4 }}
    app.kubernetes.io/component: metrics
    app.kubernetes.io/part-of: ops
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  endpoints:
    - path: /metrics
      port: https
      scheme: https
      interval: 30s
      scrapeTimeout: 10s
      bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
      tlsConfig:
        insecureSkipVerify: true
{{- end }}

