apiVersion: v1
kind: Service
metadata:
  name: {{ include "ops.fullname" . }}-server
  labels:
    {{- include "ops.serverLabels" . | nindent 4 }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "80"
    prometheus.io/path: "/metrics"
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
      protocol: TCP
      name: http
    - port: 80
      targetPort: 80
      protocol: TCP
      name: metrics
  {{- if eq .Values.service.type "NodePort" }}
  type: NodePort
  {{- end }}
  selector:
    {{- include "ops.serverSelectorLabels" . | nindent 4 }}

