name: Build
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      platforms:
        description: ""
        required: false
        default: "linux/amd64,linux/arm64"
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - project: ops-server
            dockerfile: Dockerfile-Server
            tag: latest
          - project: ops-controller-manager
            dockerfile: Dockerfile
            tag: latest
          - project: ops-cli
            dockerfile: Dockerfile-Cli
            tag: latest
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to ACR
        uses: docker/login-action@v3
        with:
          registry: https://registry.cn-beijing.aliyuncs.com
          username: "${{ secrets.ACR_USERNAME }}"
          password: "${{ secrets.ACR_PASSWORD }}"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push ${{ matrix.project }}
        uses: docker/build-push-action@v6
        with:
          platforms: ${{ inputs.platforms || 'linux/amd64,linux/arm64' }}
          push: true
          tags: docker.io/shaowenchen/${{ matrix.project }}:${{ matrix.tag }}
          file: ${{ matrix.dockerfile }}
      - name: Push ${{ matrix.project }} to aliyun
        run: |
          export image=${{ matrix.project }}:${{ matrix.tag }}
          docker run --rm -v ~/.docker/config.json:/auth.json quay.io/skopeo/stable copy docker://shaowenchen/${image} docker://registry.cn-beijing.aliyuncs.com/opshub/shaowenchen-${image} --dest-authfile /auth.json --insecure-policy --src-tls-verify=false --dest-tls-verify=false --retry-times 5 --all
